body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.slanted-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(73,112,121,0.8);
  transform: skewY(-8deg);
  transform-origin: top left;
  z-index: -1;
}

header {
  display: flex;
  padding: 0px 10%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.headerImageContainer {
  margin: 8px;
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.headerImageContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding-bottom: 8px;
  text-align: center;
  font-size: 4em;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding: 0 2em;
  margin: 8px;
  outline: solid black;
  box-sizing: border-box;
  background-color: white;
}

.aboutMeContainer h1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.socialLinks {
  align-self: flex-end;
  margin-bottom: 16px;
}

.myMissions {
  text-align: center;
  font-size: 2em;
}

.projectSection {
  padding: 0 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  height: auto;
  max-width: 300px;
  outline: solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease;
}

.project:hover,
.project:focus {
  transform: scale(1.03);
}

.project img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.project h2 {
  margin-bottom: 0;
}

.projectLinks {
  align-self: flex-end;
}

@media (max-width: 1280px) {
  .projectSection {
    padding: 0 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column; /* Stack items vertically */
    padding: 16px 5%; /* Adjust padding for smaller screens */
  }

  .overlay-text {
    font-size: 2em;
  }

  .aboutMeContainer h1 {
    align-self: center;
  }

  .socialLinks {
    align-self: center;
  }
}
